root = true

[*.cs]
# Allman 스타일 (새 줄에 중괄호 시작)
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# 기본 인덴트 설정
indent_style = space
indent_size = 4
